<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('css/indexCss'); %>
  <title>Employee Profile</title>
</head>
<body id="body">

  <%- include('header'); %>

  <div id="main">
    <h2>Employee Profile:</h2>
    <p>
        Employee ID: <%= employee.id %><br>
        First Name: <%= employee.firstName %><br>
        Last Name: <%= employee.lastName %><br>
        Email: <%= employee.employeeEmail %><br>
    </p>
  </div>

  <%- include('footer'); %>

</body>
</html>
